{% extends 'all_users.html' %}
{% load static %}
{% load custom_tags %}



{% block title %}
    GAMES
{% endblock title %}


{% block list_type %}
  All Games
{% endblock list_type %}


{% block product_loop %}
  
  {% for game in games%}
    
    <li class="list-group-item">
      <div class="media align-items-lg-center flex-column flex-lg-row p-3">
          <div class="media-body order-2 order-lg-1">
            <h5 class="mt-0 font-weight-bold mb-2">
              {% block game_name %}
                {{game.name}}
              {% endblock game_name %}
            </h5>
            <p class="font-italic text-muted mb-0 small">
              {% block description %}
                {{game.description}}
              {% endblock description %}  
            </p>

            <div class="d-flex align-items-center justify-content-between mt-1">
              
              {% block price %}
              {% endblock price %}
              
              {% block clicks %}
                <br>
                  clicks: {{game.clicks}}
                <br>
              {% endblock clicks %}
              

              </div>

            <div class="d-flex align-items-center justify-content-between mt-1">
                {% for category in game.categories.all %}
                  <h6 class="font-weight-bold my-2">
                    {{category.name}}
                  </h6>
                {% endfor %}

              <ul class="list-inline small">
                  Rating : 
                  {% for i in '12345'|make_list %}
                      <li class="list-inline-item m-0"> <i class="fa fa-star {% if game.rating >= forloop.counter %} checked  {% endif %}"></i></li>
                  {% endfor %}
              </ul>

              
            </div>

            <div class="d-flex align-items-center justify-content-between mt-1">
            {% block form_field %}
                <a href = {% url "games:show_sellers_for_current_game" game.id %}>
                    <input type="submit" class="submit_form btn btn-primary" value="+ Find Seller">
                  </a>
            {% endblock form_field %}
            </div>
          </div>
          {% block image %}
            <img src={{game.image.url}} alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
          {% endblock image %}
          
        </div>
    </li>
  {% endfor %}



{% endblock product_loop %}
