{% extends 'all_users.html' %}


{% block list_type %}
    <strong style="color:black">
        {{seller.user.user_name|title}}
    </strong> 
    Games
{% endblock list_type %}

{% block product_loop %}
    {% for seller_game in seller_games %}
        <li class="list-group-item">
            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                <div class="media-body order-2 order-lg-1">
                    <h5 class="mt-0 font-weight-bold mb-2">
                        {% block game_name %}
                            {{seller_game.game.name}}
                        {% endblock game_name %}
                    </h5>
                    <p class="font-italic text-muted mb-0 small">
                        {% block description %}
                            {{seller_game.game.description}}
                        {% endblock description %} 
                    </p>

                    <div class="d-flex align-items-center justify-content-between mt-1">
                        {% block price %}
                            <h6 class="font-weight-bold my-2">
                                Price: ${{seller_game.seller_price}}
                            </h6>
                        {% endblock price %}
                    </div>

                    <div class="d-flex align-items-center justify-content-between mt-1"></div>

                    <div class="d-flex align-items-center justify-content-between mt-1">
                        {% for category in seller_game.game.categories.all %}
                            <h6 class="font-weight-bold my-2">
                                {{category.name}}
                            </h6>
                        {% endfor %}
                        <ul class="list-inline small">
                            Rating : 
                            {% for i in '12345'|make_list %}
                                <li class="list-inline-item m-0"> <i class="fa fa-star {% if seller_game.game.rating >= forloop.counter %} checked  {% endif %}"></i></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="d-flex align-items-center justify-content-between mt-1">
                        {% block form_field %}
                            <a href = {% url "orders:creating_order" seller_game %}>
                                <input type="button" class="submit_form btn btn-primary" value="Place Order">
                            </a>
                        {% endblock form_field %}
                    </div>

                </div>
                {% block image %}
                    <img src={{seller_game.game.image.url}} alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                {% endblock image %}
            </div>
        </li>
    {% endfor %}
{% endblock product_loop %}